 {% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block content %}

  <section class=" h-75 flex  p-4 items-center justify-between">
    <section class="space-y-10 ">
        <div class="space-y-6">
            <h1 class="text-6xl font-bold">Fostering Hope, Empowering Lives.</h1>
            <p class="text-lg w-4/5 ">Join Our Crowdfunding Platform: Empower Change and Make a Positive Difference in the Lives of Those in Need Together</p>
            <div class="flex items-center space-x-4">
                <a href="{% url 'register' %}" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                   <i class='bx bx-plus mr-1'></i>
                   Create a Campaign
                </a>
                <a href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                    <svg class="mr-2 -ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z"></path></svg>
                    Watch video
                </a>  
            </div>
        </div>
        <div class="flex justify-between text-center w-4/5 text-gray-700">
            <div>
                <i class='bx bx-money text-6xl'></i>
                <p class="text-4xl font-bold">100+</p>
                <h1 class="text-lg font-bold">Funds raised</h1>
            </div>
            <div>
                <i class='bx bx-donate-heart text-6xl' ></i>
                <p class="text-4xl font-bold">100+</p>
                <h1 class="text-lg font-bold">Campaigns</h1>
            </div>
            <div >
                <i class='bx bxs-heart text-6xl'></i>
                <p class="text-4xl font-bold">100+</p>
                <h1 class="text-lg font-bold">Lives impacted</h1>
            </div>
        </div>
    </section>
    <section class="w-3/5">
        <div class="w-3/4 mx-auto space-y-5 bg-gray-50 px-8 py-4 my-3 rounded-lg">
            <p class="text-lg font-medium">Join over 3000 doners</p>
            <div>
                <div class="w-5/6 mx-auto flex justify-between">
                    <button type="button" class="text-white bg-[#3b5998] hover:bg-[#3b5998]/90 focus:ring-4 focus:outline-none focus:ring-[#3b5998]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#3b5998]/55 mr-2 mb-2">
                        <svg class="w-4 h-4 mr-2 -ml-1" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M279.1 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.4 0 225.4 0c-73.22 0-121.1 44.38-121.1 124.7v70.62H22.89V288h81.39v224h100.2V288z"></path></svg>
                        Facebook
                    </button>
                    <button type="button" class="text-white bg-[#4285F4] hover:bg-[#4285F4]/90 focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#4285F4]/55 mr-2 mb-2">
                        <svg class="w-4 h-4 mr-2 -ml-1" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512"><path fill="currentColor" d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"></path></svg>
                        Google
                    </button>
                </div>
                <div class="inline-flex items-center justify-center w-full relative">
                    <hr class="w-64 h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
                    <span class="absolute px-3 font-medium text-gray-900 -translate-x-1/2 bg-gray-50 left-1/2 dark:text-white dark:bg-gray-900">or</span>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-6">
                        {{form.username|as_crispy_field}}
                    </div>
                    <div class="mb-6">
                        {{form.password|as_crispy_field}}
                    </div>
                    <div class="flex items-start mb-6">
                        <div class="flex items-center h-5">
                        <input id="terms" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required>
                        </div>
                        <label for="terms" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Remember me</label>
                    </div>
                    <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-700 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login</button>
                </form>
                <p class="my-4 font-medium">Not registered ?<a href="#" class="text-blue-700 ml-1">Create account</a></p>
            </div>
        </div>
    </section>
  </section>
{% endblock content %}